/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .jumbotron {
     background-image: url(https://images-ext-2.discordapp.net/external/Cvelu6CqeOx-aFXu47y_GvXlM50gQx8WIrePLPUG-x8/%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9%26auto%3Dformat%26fit%3Dcrop%26w%3D2775%26q%3D80/https/images.unsplash.com/photo-1594734415578-00fc9540929b?width=450&height=600);
     background-size: cover;
    }

 .card{
    box-shadow: 8px 8px 12px #aaa;
    width: auto;
  }

  .topnav-right {
    float: right;
  }